<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Waggle</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <div>
        @RenderBody()
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <h2>You are signed in as @User.Identity.Name</h2>
        <form asp-controller="Identity" asp-action="SignOut" method="post">
            <button type="submit">Sign Out</button>
        </form>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
