#logo {
    padding-left: 500px;
    padding-top: 130px;
}

.container {
    display: flex;
}

#george {
    padding-left: 200px
}

#form {
    padding-left: 70px;
    padding-top: 90px;
}

#companion {
    padding-left: 70px;
    padding-top: 150px;
}
