#logo {
    padding-left: 500px;
    padding-top:150px;
}
.container{
    display:flex;
}
#george{
    padding-left:10px
}
#form{
    padding-left:100px;
    padding-top:100px;
}
#companion{
    padding-left:70px;
    padding-top: 150px;
}
body{
  background-image:url(BackgroundImage.jpg);
}