@model Person
<h2>Delete an Employee</h2>
<h3 class="message">Warning: you are about to delete an person record !!</h3>
<form asp-controller="Person" asp-action="Delete" method="post">
	<input type="hidden" asp-for="PersonID" />
	
	<table border="0">
		<tr>
			<td class="right">
				<label asp-for="PersonID"></label>
			</td>
			<td>@Model.PersonID</td>
		</tr>
		<tr>
			<td class="right">
				<label asp-for="FirstName"></label>
			</td>
			<td>@Model.FirstName</td>
		</tr>
		<tr>
			<td class="right">
				<label asp-for="LastName"></label>
			</td>
			<td>@Model.LastName</td>
		</tr>
		<tr>
			<td class="right">
				<label asp-for="Discriminator"></label>
			</td>
			<td>@Model.Discriminator</td>
		</tr>
		<tr>
			<td colspan="2">
				<button type="submit">Delete</button>
			</td>
		</tr>

	</table>
</form>
<br />
<br />

<a asp-controller="Person" asp-action="ListOfPersons">Back to Persons List</a>